html,
body {
    width: 1150px;
    height: 780;
    margin: 0;
    padding: 0;
}

.header-container {
    position: relative;
    width: 100%;
    height: 5rem;
}

.nav-container {
    background-color: #415a88;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.nav-header {
    height: inherit;
    display: flex;
    align-items: center;
}

.title {
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    font-size: 50px;
}

.fieldContainer {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
}

.sqare {
    background-color: lightgray;
    width: 20px;
    height: 20px;
    margin: 1px;
}