@page "/game/{FieldDiff:int}"

<div class="fieldContainer">
    <div class="field">
        @for (var i = 0; i < FieldSize().Item1; i++)
        {
            <div class="row">
                @for (var j = 0; j < FieldSize().Item2; j++)
                {
                    <div class="square"></div>
                }
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int FieldDiff { get; set; }

    private (int, int) FieldSize(){
        switch(FieldDiff){
            case 0: return (7,7);
            case 1: return (10,10);
            case 2: return (13,15);
            case 3: return (15,20);
            default: return (1,1);
        }
    }
}