@page "/"

@using Minesweeper.Data
@inject GridService GridService

<header class="header-container">
    <div class="nav-container">
        <div class="nav-header">
            <h1 class="title">Minesweeper</h1>
        </div>
    </div>
</header>
@if (grid == null){
    <p><em>Loading...</em></p>
}
else {
    <div class="fieldContainer">
        <div class="field">
            @for (var i = 0; i < grid.GetLength(0); i++)
            {
                <div class="row">
                    @for (var j = 0; j < grid.GetLength(1); j++)
                    {
                        var cellPos = (i, j);
                        <button class="square"  @onclick="@(e => ButtonPressed(cellPos))">
                            @grid[i,j].SquareContent
                        </button>
                    }
                </div>
            }
        </div>
    </div>
}

@code {
    private Cell[,] grid;

    void ButtonPressed((int i, int j) cellPos){
        var cellType = grid[cellPos.i, cellPos.j].Type;
        if (cellType == BoxType.Bomb)
            Console.WriteLine($"Cell [{cellPos.i},{cellPos.j}] is a bomb!");
        else if (cellType == BoxType.Neighbour)
            Console.WriteLine($"Cell [{cellPos.i},{cellPos.j}] has {grid[cellPos.i, cellPos.j].NeighbouringBombs} bombs next to it!");
        else
            Console.WriteLine($"Cell [{cellPos.i},{cellPos.j}] is empty!");
    }

    protected override async Task OnInitializedAsync(){
        grid = await GridService.GetGrid();
    }
}