@page "/"

@using Minesweeper.Data
@inject GridService GridService

<header class="header-container">
    <div class="nav-container">
        <div class="nav-header">
            <h1 class="title">Minesweeper</h1>
        </div>
    </div>
</header>
@if (grid == null){
    <p><em>Loading...</em></p>
}
else {
    <div class="fieldContainer">
        <div class="field">
            @for (var i = 0; i < grid.GetLength(0); i++)
            {
                <div class="row">
                    @for (var j = 0; j < grid.GetLength(1); j++)
                    {
                        var buttonID = (i, j);
                        <button class="square"  @onclick="@(e => ButtonPressed(buttonID.i, buttonID.j))">
                            @grid[i,j].NeighbouringBombs
                        </button>
                    }
                </div>
            }
        </div>
    </div>
}

@code {
    private Cell[,] grid;

    void ButtonPressed(int i, int j){
        Console.WriteLine($"Button pressed at {i}, {j}");
    }

    protected override async Task OnInitializedAsync(){
        grid = await GridService.GetGrid();
    }
}