html,
body {
    width: 1350px;
    height: 942px;
    margin: 0;
    padding: 0;
}

.header-container {
    position: relative;
    width: 100%;
    height: 5rem;
}

.nav-container {
    background-color: #415a88;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.nav-header {
    height: inherit;
    display: flex;
    align-items: center;
}

.title {
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    font-size: 50px;
}

.fieldContainer {
    width: 100%;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
}

.square {
    background-color: #d3d3d3;
    width: 24px;
    height: 24px;
    margin: 1px;
}

.info-container {
    margin: 0px;
    margin-left: -6px;
    margin-top: -1px;
    padding: 0;
    height: 20px;
    width: 20px;
}

.info {
    width: inherit;
    height: inherit;
    margin: 0px;
    font-size: 15px;
    text-align: center;
}

.revealed {
    background-color: #a1a1a1;
}

.low {
    color: green;
}

.mid {
    color: orange;
}

.hi {
    color: red;
}