<header class="header-container">
    <div class="nav-container">
        <div class="nav-header">
            <h1 class="title">Minesweeper</h1>
        </div>
    </div>
    <div class="settings-container">
        <div class="nav-menu">
            <button class="settings-btn">
                <i class="fas fa-sliders-h fa-2x settings"></i>
            </button>
            <div class="settings-drop">
                <div class="setting-container">
                    <p class="setting-name">Columns: </p>
                    <input type="range" min="3" max="30" value="50" class="slider" id="fieldCols">
                </div>
                <div class="setting-container">
                    <p class="setting-name">Rows: </p>
                    <input type="range" min="3" max="20" value="50" class="slider" id="fieldRows">
                </div>
            </div>
        </div>
    </div>
</header>